.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
.title-section {
	padding-top: 90px;
	padding-bottom: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	h2 {
		padding: 20px 0;
		font-size: 30px;
	}
}
